<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 로그출력 name속성은 logImpl, value속성은 로그 출력기 이름 -->
		<setting name="logImpl" value="LOG4J"/>
	</settings>

	<typeAliases>
		<typeAlias type="spms.vo.Project" alias="project"/>
		<typeAlias type="spms.vo.Member" alias="member"/>
	</typeAliases>
	
	<!-- 트랜잭션 관리 및 데이터 소스를 설정하는 태그 -->
	<!-- 트랜잭션이란 여러 개의 데이터 변경 작업(insert, update, delete)을 하나의 작업으로 묶는 것 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/studydb"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="spms/dao/MySqlProjectDao.xml"/>
		<mapper resource="spms/dao/MySqlMemberDao.xml"/>
	</mappers>
</configuration>